* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: Helvetica;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100vw;
  overflow: auto;
  text-align: center;
  position: relative;
  border-radius: 10.488px;
  background: var(
    --linear-blue-BG,
    linear-gradient(192deg, #47bfdf 0%, #4a91ff 100%)
  );
  box-shadow: -3.77069px 7.54137px 30.16549px 2.26241px rgba(19, 35, 78, 0.2);
  svg {
    position: absolute;
    top: 0;
    left: 0;
  }

  .weatherWrapper {
    border-radius: 13.984px;
    border: 1.398px solid #fff;
    width: fit-content;
    margin: 0 auto;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    .weatherContent {
      border-radius: 13.984px;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(1.7479827404022217px);
      padding: 2vh 5vw;
      .dataWrapper {
        button {
          background-color: grey;
          color: white;
          border: none;
          padding: 10px;
          border-radius: 20px;
        }
      }
    }
  }
}
